USE [master]
GO
/****** Object:  Database [QuanLyCafe]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE DATABASE [QuanLyCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCafe', FILENAME = N'E:\IDE\SQLSERVER\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCafe_log', FILENAME = N'E:\IDE\SQLSERVER\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCafe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[KichThuoc] [int] NULL,
	[ViTri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaGoc] [decimal](18, 2) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaDonHang] [varchar](255) NULL,
	[MaSP] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [varchar](255) NOT NULL,
	[NgayDat] [date] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](255) NULL,
	[MaKhach] [varchar](255) NULL,
	[MaNhanVien] [varchar](50) NULL,
	[MaBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](255) NOT NULL,
	[MaDonHang] [varchar](255) NULL,
	[NgayXuat] [date] NULL,
	[TongGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhach] [varchar](255) NOT NULL,
	[TenKhach] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaSP] [varchar](255) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayCapNhat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoai] [nvarchar](10) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](255) NOT NULL,
	[TenNCC] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NULL,
	[DienThoai] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](255) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[MaNhaCungCap] [varchar](255) NULL,
	[LoaiSP] [nvarchar](50) NULL,
	[maLoai] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 11/12/2025 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [varchar](255) NOT NULL,
	[PhuongThuc] [varchar](50) NULL,
	[NgayThanhToan] [date] NULL,
	[TrangThai] [varchar](50) NULL,
	[SoTien] [float] NULL,
	[MaDonHang] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TrangThai], [KichThuoc], [ViTri]) VALUES (1, N'Trống', 10, N'Lầu2')
INSERT [dbo].[Ban] ([MaBan], [TrangThai], [KichThuoc], [ViTri]) VALUES (2, N'Trống', 4, N'Lầu1')
INSERT [dbo].[Ban] ([MaBan], [TrangThai], [KichThuoc], [ViTri]) VALUES (3, N'Trống', 2, N'Lầu1')
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDat], [TongTien], [PhuongThucThanhToan], [MoTa], [TrangThai], [MaKhach], [MaNhanVien], [MaBan]) VALUES (N'DH042', CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', N'Đơn tự động', N'Đã thanh toán', NULL, N'NV100', 1)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayDat], [TongTien], [PhuongThucThanhToan], [MoTa], [TrangThai], [MaKhach], [MaNhanVien], [MaBan]) VALUES (N'DH137', CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Tiền mặt', N'Đơn tự động', N'Đã thanh toán', NULL, N'NV100', 1)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaDonHang], [NgayXuat], [TongGia]) VALUES (N'HD264', N'DH042', CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [SoDienThoai], [Email]) VALUES (N'KH1731', N'Khách B', N'0955147838', N'khach404@mail.com')
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [SoDienThoai], [Email]) VALUES (N'KH3838', N'Khách K', N'0998833364', N'khach52@mail.com')
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [SoDienThoai], [Email]) VALUES (N'KH5486', N'Khách R', N'0920064352', N'khach883@mail.com')
GO
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai]) VALUES (N'CF', N'Cà Phê')
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai]) VALUES (N'ĐA', N'Đồ Ăn')
INSERT [dbo].[LoaiSanPham] ([maLoai], [tenLoai]) VALUES (N'TS', N'Trà Sữa')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'NCC100', N'PacKy', N'12 Nguy?n Van B?o', N'0987654321', N'PacKy@gmail.com')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [ChucVu], [DiaChi]) VALUES (N'NV100', N'Quang Minh', CAST(N'2005-09-09' AS Date), N'Nam', N'0983795209', N'mjnhquang2005@gmail.com', N'Quản Lý', N'12 Nguyễn Văn Bảo')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [ChucVu], [DiaChi]) VALUES (N'NV101', N'Ngô Gia Bảo', CAST(N'2005-05-15' AS Date), N'Nam', N'0123456789', N'chip@gmail.com', N'Thu Ngân', N'12 Nguyễn Văn Bảo')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [MoTa], [MaNhaCungCap], [LoaiSP], [maLoai]) VALUES (N'CF100', N'Cà Phê Đen', CAST(15000.00 AS Decimal(18, 2)), N'bth', NULL, N'Cà phê', N'CF')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [MoTa], [MaNhaCungCap], [LoaiSP], [maLoai]) VALUES (N'CF101', N'Cà Phê Sữa', CAST(20000.00 AS Decimal(18, 2)), N'ngon', NULL, NULL, N'CF')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [MoTa], [MaNhaCungCap], [LoaiSP], [maLoai]) VALUES (N'CF102', N'Cà Phê Muối', CAST(30000.00 AS Decimal(18, 2)), N'ngon', N'NCC100', NULL, N'CF')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_thongtindonhang_donhang]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_thongtindonhang_donhang] ON [dbo].[ChiTietDonHang]
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_thongtindonhang_sanpham]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_thongtindonhang_sanpham] ON [dbo].[ChiTietDonHang]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_donhang_khachhang]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_donhang_khachhang] ON [dbo].[DonHang]
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_donhang_nhanvien]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_donhang_nhanvien] ON [dbo].[DonHang]
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_kho_sanpham]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_kho_sanpham] ON [dbo].[Kho]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_sanpham_nhacungcap]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_sanpham_nhacungcap] ON [dbo].[SanPham]
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_thanhtoan_donhang]    Script Date: 11/12/2025 11:14:38 PM ******/
CREATE NONCLUSTERED INDEX [idx_thanhtoan_donhang] ON [dbo].[ThanhToan]
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachHang] ([MaKhach])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiSanPham] ([maLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [chk_PhuongThuc] CHECK  (([PhuongThuc]='ViDienTu' OR [PhuongThuc]='The' OR [PhuongThuc]='ChuyenKhoan' OR [PhuongThuc]='TienMat'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [chk_PhuongThuc]
GO
USE [master]
GO
